0 3 * * 7 root /usr/local/bin/python /home/app/symbol_entry.py > /proc/1/fd/1 2>/proc/1/fd/2
50 23 * * * root /usr/local/bin/python /home/app/ptt_trend_entry.py > /proc/1/fd/1 2>/proc/1/fd/2
50 0 * * * root /usr/local/bin/python /home/app/reunion_entry.py > /proc/1/fd/1 2>/proc/1/fd/2
30 20 * * 1-5 root /usr/local/bin/python /home/app/institutions_entry.py > /proc/1/fd/1 2>/proc/1/fd/2
2 9 * * 1-5 root /usr/local/bin/python /home/app/quote_entry.py > /proc/1/fd/1 2>/proc/1/fd/2
30 9 * * 1-5 root /usr/local/bin/python /home/app/open_price_entry.py > /proc/1/fd/1 2>/proc/1/fd/2
30 15 * * 1-5 root /usr/local/bin/python /home/app/close_price_entry.py > /proc/1/fd/1 2>/proc/1/fd/2
# Don't remove the empty line at the end of this file. It is required to run the cron job